body {
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 20px;
    margin: 20px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-family:"Calibri Light", sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

.card button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #0D47A1;
}

.card-shadow {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 20px #0a45b6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header{
    margin-bottom: 5rem;
}

nav {
    background-color: #1F3A57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: "Segoe UI", sans-serif;
}